<section class="headsec">
<h1>Loader</h1>
</section>

<div class="example">
<div class="panel">
<div class="head">Example</div>
<div class="body">
<div class="group">

<div class="preloader-wrapper">
<div class="spinner-layer">
<div class="circle-clipper circle-clipper__left">
<div class="circle"></div>
</div><div class="gap-patch">
<div class="circle"></div>
</div><div class="circle-clipper circle-clipper__right">
<div class="circle"></div>
</div>
</div>
</div>

</div>
</div>
</div>

<div class="panel">
<div class="head">HTML</div>
<div class="body">

<pre>
<code class="html">

goes here

</code>
</pre>

</div>
</div>
</div>