<section class="headsec">
<h1>Progress Bar</h1>
</section>

<div class="example">
<div class="panel">
<div class="head">Example</div>
<div class="body">
<div class="group">

<div class="linear-activity">
<div class="determinate bg-rd" style="width: 70%"></div>
</div>
<br><br>
<div class="linear-activity">
<div class="determinate bg-bk" style="width: 50%"></div>
</div>
<br><br>
<div class="linear-activity">
<div class="indeterminate bg-or"></div>
</div>
<br><br>
<div class="linear-activity">
<div class="indeterminate bg-bl"></div>
</div>
<br><br>
<div class="linear-activity">
<div class="indeterminate bg-gr"></div>
</div>

</div>
</div>
</div>

<div class="panel">
<div class="head">HTML</div>
<div class="body">

<pre>
<code class="html">

goes here

</code>
</pre>

</div>
</div>
</div>