input {
  width: 100%;
  display: block;
  border: none;
  padding: 18px 14px;
  border: solid 1px #919191;
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
  border-radius: 3px;
  font-weight: 400;
  height: 60px;
  font-size: 16px;


}

input:hover{border: solid 1px #000;background: #fcfcfc;}

input:focus, input:valid {
 box-shadow: none;
 outline: none;
 background-position: 0 0;
 border: solid 2px #6200ee;
   border-radius: 5px;
     background: #fcfcfc;
}


input::-webkit-input-placeholder {
 -webkit-transition: all 0.1s ease-in-out;
 transition: all 0.1s ease-in-out;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
 color: #6200ee;
 font-size: 10px;
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 visibility: visible !important;
}


/* Applying style *just* to placeholder */
input::placeholder { color: blue; }

/* Applying style to input when placeholder is shown */
input:placeholder-shown { color: yellow; }

/* Applying style to input but *not* placeholder */
input:not(:placeholder-shown) { color: green; }