<div include="header.html"></div>
<section class="headsec">
 <h1>Components</h1>
</section>

<div class="example">

<p>CSSFront Material comprises a range of components which implement common interaction patterns according to the Material Design specification.</p>

<div class="row">
<div class="col-md-4 col-xs-12">
<a href="form-controls" class="card">
 <h4>Form Controls</h4>
 <p>Controls that collect and validate user input.</p>
</a>
</div>

<div class="col-md-4 col-xs-12">
<a href="navigation" class="card">
 <h4>Navigation</h4>
 <p>Menus, sidenavs and toolbars that organise your content.</p>
</a>
</div>

<div class="col-md-4 col-xs-12">
<a href="layout" class="card">
 <h4>Layout</h4>
 <p>Essential building blocks for presenting your content.</p>
</a>
</div>

<div class="col-md-4 col-xs-12">
<a href="buttons-indicators" class="card">
 <h4>Buttons & Indicators</h4>
 <p>Buttons, toggles, status and progress indicators.</p>
</a>
</div>

<div class="col-md-4 col-xs-12">
<a href="popups-modals" class="card">
 <h4>Popups & Modals</h4>
 <p>Floating components that can be dynamically shown or hidden.</p>
</a>
</div>

<div class="col-md-4 col-xs-12">
<a href="data-table" class="card">
 <h4>Data table</h4>
 <p>Tools for displaying and interacting with tabular data.</p>
</a>
</div>
</div>

</div>