<section class="headsec">
<h1>Buttons & Indicators</h1>
</section>

<div class="example">
<div class="panel">
<div class="head">Example</div>
<div class="body">
<div class="group">

<button class="bt-blo bt bg-wh co-bk mb-15">Button</button>
<button class="bt bg-bk co-wh he-60">Button</button>
<button class="bt bg-bl co-wh he-50">Button</button>
<button class="bt bg-gr co-wh he-40">Button</button>
<button class="bt bg-rd co-wh he-30">Button</button>
<button class="bt bg-or co-wh he-20">Button</button>

</div>
</div>
</div>

<div class="panel">
<div class="head">HTML</div>
<div class="body">

<pre>
<code class="html">

goes here

</code>
</pre>

</div>
</div>
</div>