<section class="headsec">
 <h1>Form Input</h1>
</section>

<div class="example">
<div class="panel">
<div class="head">Example</div>
<div class="body">
<div class="group">

<input class="control" placeholder="Sample Text" type="" required>
<input class="control" placeholder="Password" type="password" required>
<input class="control" placeholder="Sample Text" type="" required value="Sample Value">
<textarea class="control" name="" id="" cols="30" rows="5"></textarea>
<select name="" id="" class="control">

</select>

</div>
</div>
</div>

<div class="panel">
<div class="head">HTML</div>
<div class="body">


<pre>
<code class="html">

goes here

</code>
</pre>

</div>
</div>
</div>