<section class="headsec">
 <h1>Form Input</h1>
</section>

<div class="example">
<div class="panel">
<div class="head">Example</div>
<div class="body">
<div class="group">

<label info>Input File</label>
<input control type="file" required>

<label info>Color</label>
<input control type="color" required>

<label info>Date</label>
<input control type="date" required>

<label info>Time</label>
<input control type="time" required>

<label info>Month</label>
<input control type="month" required>

<label info>Week</label>
<input control type="week" required>

<label info>Date Time-Local</label>
<input control type="datetime-local" min="2020-09-09T12:00:00.00" required>

<label info>Range Value</label>
<input control type="range" required>

<label info>Input Text</label>
<input control placeholder="Sample Text" type="text" required>

<label info>Input Text with value</label>
<input control placeholder="Sample Text" type="text" required value="Active by Value">

<label info>Password</label>
<input control placeholder="Password" type="password" required>

<label info>Textarea</label>
<textarea name="" id="" cols="30" rows="5" placeholder="Texarea"></textarea>

<label info>Select</label>
<select name="" id="">
  <option value="">Select</option>
  <option value="1">2</option>
  <option value="2">3</option>
  <option value="3">4</option>
</select>

<label info>Multiple Select</label>
<select multiple="" id="">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
</select>

</div>
</div>
</div>

<div class="panel">
<div class="head">HTML</div>
<div class="body">


<pre>
<code class="html">

goes here

</code>
</pre>

</div>
</div>
</div>