<aside>
<div class="theming">
<label id="toggle" class="pure-material-switch">
    <input type="checkbox" checked>
    <span>Colors</span>
</label>
<label id="primary" class="pure-material-slider">
    <input  type="range" min="0" max="360" value="207">
    <span>Primary</span>
</label>
<label id="on-primary" class="pure-material-slider">
    <input type="range" min="0" max="255" value="255">
    <span>On Primary</span>
</label>
<label id="surface" class="pure-material-slider">
    <input type="range" min="0" max="255" value="255">
    <span>Surface</span>
</label>
<label id="on-surface" class="pure-material-slider">
    <input type="range" min="0" max="255" value="0">
    <span>On Surface</span>
</label>
</div>
</aside>