<section class="headsec">
<h1>Cards</h1>
</section>

<div class="example">
<div class="panel">
<div class="head">Example</div>
<div class="body">
<div class="group">

<div class="card"></div>
<div class="card cards-1"></div>
<div class="card cards-2"></div>
<div class="card cards-3"></div>
<div class="card cards-4"></div>
<div class="card cards-5"></div>

</div>
</div>
</div>

<div class="panel">
<div class="head">HTML</div>
<div class="body">

<pre>
<code class="html">

goes here

</code>
</pre>

</div>
</div>
</div>