<section class="headsec">
<h1>Buttons</h1>
</section>

<div class="example">
<div class="panel">
<div class="head">Example</div>
<div class="body">
<div class="group">

<main class="grid">
<div></div>
    <div class="column">Enabled</div>
    <div class="column">Disabled</div>

    <a class="title" href="#" target="">Button - Contained</a>
    <div><button class="pure-material-button-contained">Contained</button></div>
    <div><button class="pure-material-button-contained" disabled>Contained</button></div>

    <a class="title" href="#" target="">Button - Outlined</a>
    <div><button class="pure-material-button-outlined">Outlined</button></div>
    <div><button class="pure-material-button-outlined" disabled>Outlined</button></div>

    <a class="title" href="#" target="">Button - Text</a>
    <div><button class="pure-material-button-text">Text</button></div>
    <div><button class="pure-material-button-text" disabled>Text</button>
</div>
</main>

</div>
</div>
</div>

<div class="panel">
<div class="head">HTML</div>
<div class="body">

<pre>
<code class="html">

goes here

</code>
</pre>

</div>
</div>
</div>