<section class="headsec">
 <h1>Checkbox</h1>
</section>

<div class="example">
<div class="panel">
<div class="head">Example</div>
<div class="body">

<ul class="list">
<li class="list__item">
    <label class="label--checkbox">
            <input type="checkbox" class="checkbox" checked>
                Item 1
    </label>
</li>
<li class="list__item">
    <label class="label--checkbox">
            <input type="checkbox" class="checkbox">
                Item 2
    </label>
</li>
<li class="list__item">
    <label class="label--checkbox">
            <input type="checkbox" class="checkbox">
                Item 3
    </label>
</li>
<li class="list__item">
    <label class="label--checkbox">
            <input type="checkbox" class="checkbox">
                Item 4
    </label>
</li>
</ul>
</div>
</div>

<div class="panel">
<div class="head">HTML</div>
<div class="body">


<pre>
<code class="html">

goes here

</code>
</pre>

</div>
</div>
</div>