/*

CSSKit Inspired by Google Material Concept 
Desgined and Coded by Qasim Hussain

Color pellets and codes : 

wh -> white
bk -> Black 
bl -> Blue 
gr -> Green
rd -> Red
yl -> Yellow
or -> Orange 

*/

@import url("flexbox.css");
@import url("elements/navbar.css");
@import url("elements/side-menu.css");
@import url("elements/cards.css");
@import url("elements/loader.css");
@import url("elements/button.css");
@import url("elements/progress.css");
@import url("elements/accordion.css");
@import url("elements/tabs.css");


:root {  
  --compo: left;  
}

*{text-decoration:none;  box-sizing: border-box;}
body { text-rendering: optimizeLegibility; font-display: swap; padding-top: 56px;margin: 0px; font-family: Roboto,"Helvetica Neue",sans-serif; font-size: 14px; background: rgb(250, 250, 250);}
ul{margin:0px;padding:0px;list-style:none}

header nav img { vertical-align: middle; }
header nav { padding: 2px 16px; box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);position: relative; }
header nav ul { display: flex; flex-wrap: wrap; margin: 0px; list-style: none; width: 100%;align-items: center; padding: 4px 0px; }
header nav ul li a { font-weight: 500; box-sizing: border-box; position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; outline: 0; border: none; -webkit-tap-highlight-color: transparent; display: inline-block; white-space: nowrap; text-decoration: none; vertical-align: baseline; text-align: center; margin: 0; min-width: 64px; line-height: 36px; padding: 0 16px; overflow: visible; }
header nav ul li a:hover { background: rgba(0, 0, 0, 0.04); }
header [fix] { position: fixed; width: 100%; top: 0px; z-index: 100; min-height: 56px}

footer { padding: 12px; font-size: 12px; margin-top: 100px; background: #3f51b5; color: #fff; }
footer .contents { align-items: center; display: flex; flex-flow: row wrap; padding: 8px; }
footer .rights { display: flex; flex: 1; justify-content: flex-end; text-align: center; min-width: 225px; margin-top: 16px; }
footer .brand-icon { height: 50px; }
footer .brand-text { display: inline-block; line-height: 50px; margin: 0 40px; vertical-align: bottom; font-size: 16px; padding: 0; }
footer .version { display: flex; justify-content: center; align-items: center; flex: 1; }
footer .version img { height: 40px; margin: 10px 0 10px 16px; }
footer .version p { margin: 0 40px; }
footer a { color: #fff; }

.brand-icon { height: 26px; margin: 0 0px 2px 0; }
.headsec { background: #3f51b5; padding: 0 20px; }
.headsec h1 { font-weight: 300; margin: 0; padding: 28px 8px; font-size: 20px; color: #fff; }

.hero { background: rgb(63, 81, 181); color: #fff; text-align: center; margin-top: -15px; padding: 100px 45px; }
.hero h1 { font-size: 56px; font-weight: 300; line-height: 56px; margin: 15px 5px; }
.hero h2 { font-size: 18px; font-weight: 300; line-height: 28px; margin: 15px 0 25px; }

.home .body { align-items: center; display: flex; flex-direction: column; padding: 16px; }
.home .body .content{ display: flex; max-width: 920px; margin: 60px 0; }

h2{font-weight:400}
.mat-raised-button{font-size:14px;font-weight:500}
.mat-ripple{overflow:hidden;position:relative}
.mat-button-focus-overlay{background:#000}
.mat-raised-button{color:rgba(0,0,0,.87);background-color:#fff}
.mat-raised-button.mat-accent{color:#fff}
.mat-raised-button.mat-accent{background-color:#ff4081}
.mat-raised-button:not([class*=mat-elevation-z]){box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)}
.mat-raised-button:not([disabled]):active:not([class*=mat-elevation-z]){box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)}
.docs-svg-primary-fill{fill:#3f51b5}
.docs-svg-primary-dark-40-fill{fill:#26316d}
.docs-svg-primary-light-20-fill{fill:#6171c8}
.docs-svg-primary-light-20-stroke{stroke:#6171c8}
.docs-svg-primary-light-20-stop-color{stop-color:#6171c8}
.docs-svg-primary-light-30-stop-color{stop-color:#7583cf}
.docs-svg-primary-light-40-stop-color{stop-color:#8994d6}
.docs-svg-primary-light-60-fill{fill:#b0b8e4}
.docs-svg-primary-light-80-fill{fill:#d8dbf1}
.docs-svg-primary-light-85-fill{fill:#e1e4f5}
app-homepage .docs-homepage-row{color:rgba(0,0,0,.54)}
.mat-raised-button{box-sizing:border-box;position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;outline:0;border:0;-webkit-tap-highlight-color:transparent;display:inline-block;white-space:nowrap;text-decoration:none;vertical-align:baseline;text-align:center;margin:0;min-width:64px;line-height:36px;padding:0 16px;border-radius:4px;overflow:visible;transform:translate3d(0,0,0);transition:background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1)}
.mat-raised-button::-moz-focus-inner{border:0}
.mat-raised-button::-moz-focus-inner{border:0}
.mat-button-focus-overlay,.mat-button-ripple.mat-ripple{top:0;left:0;right:0;bottom:0;position:absolute;pointer-events:none;border-radius:inherit}
.mat-button-focus-overlay{opacity:0;transition:opacity .2s cubic-bezier(.35,0,.25,1),background-color .2s cubic-bezier(.35,0,.25,1)}
@media(-ms-high-contrast:active){.mat-button-focus-overlay{background-color:#fff}
}@media(-ms-high-contrast:black-on-white){.mat-button-focus-overlay{background-color:#000}
}@media(-ms-high-contrast:active){.mat-raised-button{outline:solid 1px}
}.docs-homepage-promo[_ngcontent-hqo-c498]{align-items:center;display:flex;flex-direction:column;padding:16px}
.docs-homepage-promo[_ngcontent-hqo-c498] h2[_ngcontent-hqo-c498]{font-size:25px;font-weight:400;margin:0 0 16px;padding:0}
.docs-homepage-promo[_ngcontent-hqo-c498] p[_ngcontent-hqo-c498]{font-size:16px;font-weight:400;line-height:28px;margin:0 0 24px;padding:0}
.docs-homepage-row[_ngcontent-hqo-c498]{display:flex;max-width:920px;margin:60px 0}
.docs-homepage-reverse-row[_ngcontent-hqo-c498]{flex-direction:row-reverse}
.docs-homepage-bottom-start[_ngcontent-hqo-c498]{text-align:center;margin:60px 0}
.docs-homepage-promo-desc[_ngcontent-hqo-c498],.docs-homepage-promo-img[_ngcontent-hqo-c498]{width:50%}
.docs-homepage-promo-img[_ngcontent-hqo-c498]{text-align:center}
.docs-homepage-promo-desc[_ngcontent-hqo-c498]{line-height:2;display:flex;flex-direction:column;justify-content:center}
@media(max-width:720px){.docs-homepage-bottom-start[_ngcontent-hqo-c498],.docs-homepage-row[_ngcontent-hqo-c498]{margin:15px 0}
}


#compo{content: ;}

/*.head h1 {
  text-indent:-9999px;
}
.head h1:before {
  text-indent:0;
  content:"compo";
  float:var(--compo);
} */

/* Resposnive */
@media(max-width: 768px){
.container-fluid { padding-right: 0.5rem; padding-left: 0.5rem; }
}


.fg1{flex-grow:1;}

.bg-wh { background: #ffffff; }
.bg-bl { background: #3f51b5; }
.bg-bk { background: #000000; }
.bg-gr { background: #1ECC6A; }
.bg-rd { background: #CC4055; }
.bg-yl { background: #EBEB00; }
.bg-or { background: #FF661A; }

.co-wh,.co-wh a { color: #ffffff; }
.co-bl,.co-bl a { color: #3f51b5 !important; }
.co-bk,.co-bk a { color: #000000; }
.co-gr,.co-gr a { color: #1ECC6A; }
.co-rd,.co-rd a { color: #CC4055; }
.co-yl,.co-yl a { color: #EBEB00; }
.co-or,.co-or a { color: #FF661A; }

/* margins */
.mb-15{margin-bottom:15px}

/* heights*/
.he-60{height:60px}
.he-50{height:50px}
.he-40{height:40px}
.he-30{height:30px}
.he-20{height:20px}

.m1r{ margin: 1rem }

.f1{flex:1}

.fw900{font-weight:900}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon { width: 0.7em; height: 0.7em; } 
.svg-icon path, 
.svg-icon polygon, 
.svg-icon rect { fill: rgba(0,0,0,.5); } 
.svg-icon circle { stroke: rgba(0,0,0,.5); stroke-width: 1; }

.p-f{position:fixed;}
.p-r{position:relative;}
.p-a{position:absolute;}
.p-s{position:static;}
.p-u{position:unset;}

.wrapper { display: flex; justify-content: space-between; } 
.layout, .sidebar { padding: 15px; } 
.layout {  } 
.sidebar { height: 25vh; } 
.sidebar { position: -webkit-sticky; position: sticky; top: 56px; }



.box, .box-first, .box-large, .box-nested, .box-row {
    position: relative;
    box-sizing: border-box;
    min-height: 1rem;
    margin-bottom: 0;
    background: #3f51b5;
    border: 1px solid #FFF;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

@media only screen and (min-width: 48rem) {
.box, .box-first, .box-large, .box-nested, .box-row {
    padding: 1rem;
} }

.box-row {
    margin-bottom: 1rem;
}

.box-nested {
    background: #036;
    border-color: #007FFF;
}

.box-first {
    background: #06C;
    border-color: #007FFF;
}

pre {
    overflow-x: auto;
    padding: 1.25em;
    border: 1px solid #e6e6e6;
    border-left-width: 5px;
    margin: 1.6em 0;
    font-size: .875em;
    background: #ffffff;
    white-space: pre;
    word-wrap: normal;
}

code {
    color: #007FFF;
}

code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
